---
---
@import "https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic|Raleway";
@import "https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css";
@import "https://cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css";

a, a:hover {
  color: #1f6fd8;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: whitesmoke;
  &.in-transition {
    transition: transform 900ms ease;
  }
}

#bio {
  padding-top: 2em;
  p {
    text-align: justify;
  }
}

#banner {
  height: 100vh;
  color: white;
  position: relative;
  h1 {
    font-family: "Raleway";
    font-size: 48px;
    margin-bottom: 1em;
  }
  h2 {
    font-size: 24px;
  }
  background: url(banner.jpg) no-repeat;
  background-size: cover;
  background-color: #333;
  padding: 4em 4em 0 4em;
  @media(max-width: 600px) {
    padding: 1em 1em 2em 1em;
    background-position-x: -40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 26px;
    }
  }

  #scroll-down {
    border: 1px solid #666;
    border-radius: 50%;
    bottom: 10px;
    color: #888;
    font-size: 18px;
    font-weight: 100;
    height: 40px;
    left: calc(50% - 20px);
    line-height: 40px;
    position: absolute;
    text-align: center;
    vertical-align: -10px;
    width: 40px;
    &:hover {
      text-decoration: none;
    }
    animation: Jiggle 1.5s ease-in-out infinite;
  }
}

@keyframes Jiggle {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}

.centered {
  max-width: 687px;
  margin: 2em auto;
  @media(max-width: 700px) {
    margin: 2em 15px;
  }
}

.project {
  display: flex;
  margin-bottom: 2em;

  @media(max-width: 400px) {
    flex-direction: column;
    h3 small {
      display: block;
    }
  }

  h3 {
    font-size: 23px;
    margin-bottom: 4px;
  }
  h4 {
    font-size: 18px;
    font-style: italic;
  }
  .picture {
    width: 200px;
    margin-right: 20px;
    flex-shrink: 0;
    @media(max-width: 400px) {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

#contact {
  margin-bottom: 10em;
}

.youtube-container {
  position: relative;
  width: 100%;
  margin: 5% 0;
  padding-bottom: 47%;
  padding-top: 30px;
}

.youtube-container iframe,
.youtube-container object,
.youtube-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youtube-banner {
  text-align: center;
  @media(min-width: 412px) {
    iframe {
      width: 400px;
      height: 225px;
      margin-top: 3em;
    }
  }
  @media(min-width: 600px) {
    iframe {
      width: 480px;
      height: 270px;
      margin-top: 2em;
    }
  }
  @media(min-width: 700px) {
    iframe {
      width: 560px;
      height: 315px;
      margin-top: 1em;
    }
  }
  @media(min-width: 992px) {
    iframe {
      width: 640px;
      height: 360px;
    }
  }
}
